h1 {text-align: center ;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: center;}
p {text-align: center;}



.myDiv  {
  background-color:lightpink
  text-align: center;
  height: auto;
  width: 700px;
  margin: auto;
}

body {
  background-color: #92a8d1;
}






