h1 {text-align: center ;}
h2 {text-align: center;}
h3 {text-align: center;}


.myDiv  {
  border: 5px outset red;
  background-color:lightblue;
  text-align: center;
  height: auto;
  width: 700px;
  margin: auto;
}

ul.a {
  list-style-type:circle;
}


.myDiv2  {
 border: 5px outset red;
  background-color:lightblue;
  text-align: center;
  height: auto;
  width: 700px;
  margin: auto;
}

body {
  background-color: #92a8d1;
}


